table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

th {
  border: 1px solid #000;
  padding: 6px;
  text-align: center;
  background-color: #f0f2f3;
  color: black;
  font-weight: bold;
}

td {
  border: 1px solid #000;
  padding: 6px;
  text-align: center;
}

input {
  width: 100%;
  border: none;
  text-align: center;
  padding: 4px;
}


.navbar {
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-title {
  font-size: 18px;
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}


:host {
  display: block;
  padding: 20px;
}

