<div class="table-container">

  <!-- Fixed Back Button at Bottom Left -->
  <button class="back-btn-fixed" (click)="goBack()">
    <span class="back-arrow">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="12" r="12" fill="#fff"/>
        <path d="M13.5 8L9.5 12L13.5 16" stroke="#6a1b9a" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
    <span class="back-text">Back to Home</span>
  </button>
  <table>

    <colgroup>
      <col style="width:80px" />
      <col style="width:180px" />
    </colgroup>

    <thead>

      <tr>
        <th class="sticky-col sticky-col-1" rowspan="2">Row No</th>
        <th class="sticky-col sticky-col-2" rowspan="2">Name of the District </th>

        <th colspan="2">No of Applications <br>At Agency</th>
        <th rowspan="2">No of Applications <br>Pending At Agency</th>
        <th rowspan="2">No of Applications <br>Forwarded to Bank</th>
        <th colspan="2">Sanctioned by Bank</th>
        <th colspan="2">MM Claimed</th>
        <th colspan="2">MM Disbursement</th>
        <th rowspan="2">No of Applications <br>Returned by Bank</th>
        <th colspan="2">Pending at Bank</th>
        <th colspan="2">Pending for MM Disbursement</th>
      </tr>


      <tr>
        <th>Received</th>
        <th>Returned</th>
        <th>No of Prj</th>
        <th>MM (in Lakh)</th>
        <th>No of Prj</th>
        <th>MM (in Lakh)</th>
        <th>No of Prj</th>
        <th>MM (in Lakh)</th>
        <th>No of Prj</th>
        <th>MM (in Lakh)</th>
        <th>No of Prj</th>
        <th>MM (in Lakh)</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of tableData">
        <td class="sticky-col sticky-col-1">{{ row.rowNo }}</td>
        <td class="sticky-col sticky-col-2">{{ row.name }}</td>

        <td>
          <a href="#" (click)="onAgencyClick($event, row)">
            {{ row.agencyReceived }}
          </a>
        </td>

        <td>{{ row.agencyReturned }}</td>
        <td>{{ row.Pending_At_Agency }}</td>
        <td>{{ row.Forwarded_to_Bank }}</td>
        <td>{{ row.sanctionedPrj }}</td>
        <td>{{ row.sanctionedLakh }}</td>
        <td>{{ row.claimedPrj }}</td>
        <td>{{ row.claimedLakh }}</td>
        <td>{{ row.disbursementPrj }}</td>
        <td>{{ row.disbursementLakh }}</td>
        <td>{{ row.bankReturned }}</td>
        <td>{{ row.pendingBankPrj }}</td>
        <td>{{ row.pendingBankLakh }}</td>
        <td>{{ row.pendingDisbursementPrj }}</td>
        <td>{{ row.pendingDisbursementLakh }}</td>
      </tr>

      <!-- GRAND TOTAL ROW -->
      <tr class="total-row" *ngIf="tableData.length > 0">

        <td class="sticky-col sticky-col-1"></td>
        <td class="sticky-col sticky-col-2"><b>TOTAL</b></td>

        <td>{{ totals.agencyReceived }}</td>
        <td>{{ totals.agencyReturned }}</td>
        <td>{{ totals.Pending_At_Agency }}</td>
        <td>{{ totals.Forwarded_to_Bank }}</td>
        <td>{{ totals.sanctionedPrj }}</td>
        <td>{{ totals.sanctionedLakh | number:'1.0-3'  }}</td>
        <td>{{ totals.claimedPrj }}</td>
        <td>{{ totals.claimedLakh }}</td>
        <td>{{ totals.disbursementPrj }}</td>
        <td>{{ totals.disbursementLakh }}</td>
        <td>{{ totals.bankReturned }}</td>
        <td>{{ totals.pendingBankPrj }}</td>
        <td>{{ totals.pendingBankLakh | number:'1.0-3'  }}</td>
        <td>{{ totals.pendingDisbursementPrj }}</td>
        <td>{{ totals.pendingDisbursementLakh }}</td>

      </tr>

      <tr *ngIf="tableData.length === 0">
        <td colspan="17" class="no-data">Loading data or no data available…</td>
      </tr>
    </tbody>

  </table>
</div>
